body {
    background-color: aqua;
    font-family: helvetica;
}

h1 {
    color: whitesmoke;
    text-align: center;
    font-family: helvetica;
}

p {
    font-family: helvetica;
    font-size: 20px;
}

